.row
  .col-12
    %h1 Your Accounts
    %table.table
      %thead
        %tr
          %th Username
          %th Address
      %tbody
        - @accounts.each do |account|
          %tr
            %td= account.username
            %td
              %code= account.address
            %td